.btn{
    padding: 1rem 2rem;
    background-color: rgb(128, 155, 89);
    border: none;
    outline: none;
    color: blanchedalmond;
    font-size: 1.2rem;
    border-radius: .2rem;
    margin: 1rem;
}