@mixin mobile {
  @media screen and (max-width: 600px) {
    @content;
  }
}

.header {
  font-family: "Raleway", sans-serif;
  height: 100vh;
  background-image: url("./../images/header.jpg");

  &__general {
    width: 70%;
    margin: 0 auto;
    height: 100vh;
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    height: 10%;
    border-bottom: 1px solid $white-border;

    @include mobile {
      display: flex;
      flex-direction: column;
      height: 20%;
    }

    &__logo {
      font-weight: 700;
      font-size: 1.5rem;
      align-self: center;
      color: $grey;
      &--box {
        font-weight: 300;
        color: $white;
      }
    }
    &__bar {
      width: 60%;
      font-weight: 500;
      font-size: 0.8rem;
      display: flex;
      justify-content: center;
      flex-direction: column;

      @include mobile {
        width: 100%;
      }

      &__list {
        list-style: none;
        display: flex;
        justify-content: space-between;
        width: 100%;

        @include mobile {
          display: flex;
          flex-direction: column;
        }

        li {
          @include mobile {
            text-align: center;

            &:hover {
              background-color: $red;
            }
          }

          a {
            color: $white;
            text-decoration: none;
          }
        }
      }
    }
  }

  &__main {
    color: $white;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &--sub {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      height: 80%;
    }

    &__h1 {
      font-family: "Open Sans", sans-serif;
      text-transform: uppercase;
      text-align: center;
      font-size: 3rem;
      @include mobile {
        font-size: 1.5rem;
      }
    }
    &__h2 {
      text-align: center;
      font-family: "Raleway", sans-serif;
      font-weight: 500;
      font-size: 1.2rem;

      @include mobile {
        font-size: 0.8rem;
      }
    }

    &__button {
      text-align: center;
      margin-top: 2rem;
      a {
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
        padding: 1rem 2.5rem;
        background-color: $red;
        font-weight: 500;
        border: none;
        outline: none;
        border-radius: 0.1rem;
        box-shadow: 0 0.3rem 0.7rem rgba($color: $grey, $alpha: 1);
        transition: all 0.2s ease;

        &:hover {
          background-color: rgba($color: $red, $alpha: 1);
        }
        &:active {
          transform: translateY(0.2rem);
          box-shadow: 0 0.2rem 0.5rem rgba($color: $grey, $alpha: 1);
        }
      }
    }
  }
}
