.freeLinks{
    display: flex;
   justify-content: center;
   margin: 10rem 0;
   p{
    a{
        color: rgb(65, 105, 225);
        font-size: 4vw;
        cursor: pointer;
        font-family: 'Lato', sans-serif;
    }
   }
}

@media (min-width: 960px) {
    .freeLinks{
        margin: 10rem 0 2rem 0;
        p{
            a{
                font-size: 12px;
                line-height: 30px;

            }
        }
    }
}