.navbar {
  top: 0;
  position: fixed;
}
.mainM {
  background-image: none;
  /* height: 100vh; */
  width: 100%;
  position: fixed;
  bottom: 0;
  
  


}
.main1 {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.textIkonopisac {
  margin-top: 100px;
  width: 500px;
}
.textIkonopisac p {
  padding-top: 10px;
  text-align: justify;
}
#majka {
  width: 400px;
  transform: scale(0.8);
  margin-left: 10px;
  border-radius: 30px;
}

.contactDetails1 {
  width: 100%;
  background: linear-gradient(0deg, rgb(28, 27, 27) 10%, rgb(216, 86, 86) 100%);
  border-radius: 5px;
  font-size: 20px !important;

  
  
}
@media screen and (max-width: 960px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  .contactDetails1 {
    width: 100%;
    background: linear-gradient(0deg, rgb(28, 27, 27) 10%, rgb(216, 86, 86) 100%);
    border-radius: 5px;
    font-size: 16px;
    
    
    
    
  }
  .mainM{
      width: 100%;
      height: 100%;
     
  }
  .main1 {
    width: 100%;
    color: grey;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

  .textIkonopisac{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: -10px;
      margin-bottom: 10px;
      padding: 0 50px;
      width: 100%;
      margin: -10px auto 20px auto;
  }
  

  
}
