$white-border:rgba(255,255,255,.2);
$white:rgba(255,255,255,.8);


$grey:rgba(117, 109, 109, 0.988);
$grey-social:rgba(151, 146, 146, 0.4);

$red:rgba(219, 48, 48, 0.9);
$purple:rgb(82,53,73,255);
$mainFooter:rgba(58,62,99,255);
$bottomFooter:rgba(49,52,85,255);

