<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog About Node.js users | <%= title %></title>
    <link rel="stylesheet" href="./style.scss">
  </head>