* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

body {
  background: #e3e1ff;
  color: #444;
 

  .container {
    width: 90%;
    max-width: 96rem;
    margin: 8rem auto;
    border-radius: 2rem;
    box-shadow: 0.2rem 0.4rem 0.6rem rgba(28, 6, 49, 0.1);
    background: white;
    font-size: 2rem;
  }
  .welcome {
    text-align: center;
    padding: 2rem 0;
    form{
        width: 30rem;
        margin: 2rem auto;
    }
    label{
        display: block;
        margin: 2rem 0 1rem;
    }

    input {
      font-size: 1.5rem;
      width: 100%;
      padding: 1rem;
      border-radius: 2rem;
      border: .1rem solid #eee;
      outline: none;
      color: #999;
      margin: 1rem auto;
    }
    p{
        font-size: 1.5rem;
    }
    span{
        font-weight: bold;
        text-decoration: underline;
        cursor: pointer;
        font-size: 1.5rem;
        
    }
  }

  .error {
    color: #ff3f80;
    font-size: 1.4rem;
    padding: 1rem 0;
  }
  button {
    text-decoration: none;
    background: #5ae4ca;
    color: white;
    font-weight: bold;
    border: 0;
    border-radius: 2rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
  }


  .chatroom{
    font-size: 2rem;

    .navbar{
      display: flex;
      justify-content: space-between;
      padding: 2rem;
      p{

        font-size: 2rem;
      }
      p.email{
        color: #999;
        font-size: 1.5rem;
      }
    }
  }
  
}
