.mainGalerija {
  width: 100%;
  position: relative;
  height: 100%;
}
h1 {
  margin-top: 5.5rem;
}

.slika {
  width: 300px;
}
.row1 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 10rem;
}
img {
  margin: 10px 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#fb {
  margin-bottom: 0;
  width: 2rem;
}
img:hover {
  cursor: pointer;
}
.sektor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.sektor p {
  background-color: white;
  font-size: 18px;
  color: grey;
  width: 300px;
 
}
.lazyLoadClass{
  margin-bottom: -1rem;
}
.title {
  font-family: 'Pacifico', cursive;
  text-decoration: underline;
}
.dimension {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.last {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.contactDetails1 {
  width: 100%;
  background: linear-gradient(0deg, rgb(28, 27, 27) 10%, rgb(216, 86, 86) 100%);
  border-radius: 5px;
  font-size: 20px !important;
}

.paginationBtns{
  padding: 1rem;
  margin-bottom: 10rem;
  margin-top: -5rem;

}

@media screen and (max-width: 960px) {
  .slika {
    margin: 2rem auto 0 auto;
  }
  .contactDetails1 {
    width: 100%;
    background: linear-gradient(
      0deg,
      rgb(28, 27, 27) 10%,
      rgb(216, 86, 86) 100%
    );
    border-radius: 5px;
    font-size: 16px;
  }
  .row1 {
    display: flex;
    flex-direction: column;
    float: left;
    width: 100%;
    margin-bottom: 8rem;
  }
  .mainGalerija {
    width: 100%;
    position: relative;
    height: 100%;
  }
}
