.mainGalerija{
    width: 100%;
    position: relative;
    height: 100%;
}
h1{
    margin-top: 5.5rem;
    
}


.slika{
    width: 300px;
    
}
.row1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    
}

.col1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    
}
.row1{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10rem;
}
img{
    margin: 10px 20px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
#fb{
    margin-bottom: 0;
    width: 2rem;

}
img:hover{
    cursor: pointer;
}
.sektor{
    display: flex;
    flex-direction: column;
    
   

}
.sektor p{
    /* background-image: url('./textura2.jpg'); */
    background-color: white;
    font-size: 18px;
    color: grey;
    width: 300px;
    margin-left: 20px;
    

    
}
.title{
    font-family: 'Pacifico', cursive;
    text-decoration: underline;
}
.last{
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;

}
.contactDetails1 {
    width: 100%;
    background: linear-gradient(0deg, rgb(28, 27, 27) 10%, rgb(216, 86, 86) 100%);
    border-radius: 5px;
    font-size: 20px !important;
    
    
  }

@media screen and (max-width: 960px) {
    .slika{
        margin: 2rem auto 0 auto;
    }
    .contactDetails1 {
        width: 100%;
        background: linear-gradient(0deg, rgb(28, 27, 27) 10%, rgb(216, 86, 86) 100%);
        border-radius: 5px;
        font-size: 16px;
        
       
       
      }
      .row1{
          display: block;
          float: left;
          width: 100%;
          margin-bottom: 8rem;
      }
     
    .col1{
        display: flex;
        flex-direction: column;
    }
    .mainGalerija{
        width: 100%;
        position: relative;
        height: 100%;
    }
}