

.mainHome {
  .uvod {
    background-image: url('./../assets/pozadina-home.jpg');
  }
}

#daska {
  background-image: url('./../assets/textura2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 90%;
  margin: 0 auto;
  h2 {
    color: white;
    font-weight: 100;
    font-family: 'Pacifico', cursive;
    margin-bottom: 2rem;
    font-size: 2.7rem;
  }
  .textDaska {
    display: flex;
    justify-content: space-around;
    #slikaDaska {
      width: 300px;
      border-radius: 30px;
      &:hover {
        transform: scale(1.5);
        cursor: pointer;
        transition: transform 1.5s;
      }
    }
  }
  p {
    width: 90%;
    margin: 2rem auto 0.5rem auto;
    padding-bottom: 2rem;
    font-size: 1.5rem;
    font-family: 'Cormorant', serif;
  }
}

#tehnika {
  background-image: url('./../assets/textura2.jpg');
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  h2 {
    font-family: 'Pacifico', cursive;
    margin-bottom: 2rem;
    padding-top: 2rem;
    font-size: 2.7rem;
  }
  .slikeTehnika {
    display: flex;
    justify-content: space-around;
    .tehnika1 {
      width: 20rem;
      height: auto;
      border-radius: 50px;
      &:hover {
        transform: scale(1.5);
        cursor: pointer;
        transition: transform 1.5s;
      }
    }
  }
  p {
    width: 90%;
    text-align: center;
    margin: 0 auto 10px auto;
    font-size: 1.5rem;
    font-family: 'Cormorant', serif;
  }
}

@media screen and (max-width: 920px) {
  img {
    max-width: 60%;
  }
  .mainHome {
    width: 100%;
  
  .uvod {
    height: 100vh;
    width: 100%;

    h1 {
      font-size: 2.5rem;
    }
    .podtekst{
      font-size: 1.2rem;
    }
    .opis {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 100%;
      margin-top: 30px;
      background-color: rgba(245, 231, 231, 0.3);
      .liste {
        .lista {
          padding-top: 0;
          li {
            margin: 0;
            padding: 0;
            font-size: 20px;
            border-bottom: 1px solid black;
            a {
              padding: 10px 0;
              &:hover {
                text-decoration: none;
                background-color: rgb(31, 29, 29);
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }

  #vizantijskiStil {
    margin-top: 50px;
    height: 100%;
    width: 100%;
    h2 {
      font-size: 1.8rem;
    }
    .text {
      display: flex;
      flex-direction: column;
      justify-content: none;
      p {
        text-align: justify;
        font-size: 1rem;
      }
    }
  }

  #daska {
    height: 100%;
    width: 100%;
    p {
      margin: 0 auto;
      text-align: center;
      font-size: 1rem;
    }
    h2 {
      font-size: 1.8rem;
      padding-top: 2rem;
    }
    .textDaska {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      width: 90%;
      align-self: center;
      #slikaDaska {
        align-self: center;
      }
    }
  }

  #tehnika {
    margin-top: 0.3rem;
    width: 100%;
    h2 {
      padding-top: 1rem;
      font-size: 1.8rem;
    }
    .slikeTehnika {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
    .lastPasus {
      margin-top: 1rem;
      font-size: 1rem;
    }
  }

  .kontakt {
    background: linear-gradient(
      0deg,
      rgb(28, 27, 27) 10%,
      rgb(216, 86, 86) 100%
    );
    border-radius: 5px;
    font-size: 16px;
    display: block;
  }
}
}