@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Crimson Text", serif;
}

html {
  scroll-behavior: smooth;
}

.main .uvod {
  width: 100%;
  background-image: url("./../assets/pozadina-home.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 80px;
  background-position: 50% 15%;
}

.main .uvod h1 {
  z-index: 100;
  padding-top: 70px;
  opacity: 1 !important;
  color: black;
  font-weight: 200;
  font-family: "Pacifico", cursive;
}

.main .uvod .podtekst {
  font-family: "Pacifico", cursive;
  color: black;
}

.main .uvod .opis {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(50, 50, 50, 0.3) !important;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #323232;
}

.main .uvod .opis .liste {
  color: black;
}

.lista li {
  list-style-type: none;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 30px;
}

.lista li a {
  text-decoration: none;
  color: black;
  font-weight: 800;
}

.lista li a:hover {
  border-bottom: 1px solid black;
  font-weight: 800;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#vizantijskiStil {
  margin-top: 0px;
  width: 100%;
}

#vizantijskiStil h2 {
  font-family: "Pacifico", cursive;
}

#vizantijskiStil p {
  text-align: justify;
  font-family: 'Cormorant', serif;
}

#vizantijskiStil .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#vizantijskiStil .text p {
  text-align: left;
  margin: 30px;
  font-size: 1.5rem;
}

#daska {
  background-image: url("./../assets/textura2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#daska h2 {
  color: white;
  font-weight: 100;
  font-family: "Pacifico", cursive;
  margin-bottom: 2rem;
}

#daska .textDaska {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#daska .textDaska #slikaDaska {
  width: 300px;
  border-radius: 30px;
}

#daska .textDaska #slikaDaska:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  cursor: pointer;
  -webkit-transition: -webkit-transform 1.5s;
  transition: -webkit-transform 1.5s;
  transition: transform 1.5s;
  transition: transform 1.5s, -webkit-transform 1.5s;
}

#daska p {
  width: 90%;
  margin: 2rem auto .5rem auto;
  padding-bottom: 2rem;
  font-size: 1.5rem;
  font-family: 'Cormorant', serif;
}

#tehnika {
  background-image: url("./../assets/textura2.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#tehnika h2 {
  font-family: "Pacifico", cursive;
  margin-bottom: 2rem;
  padding-top: 2rem;
}

#tehnika .slikeTehnika {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#tehnika .slikeTehnika #tehnika1 {
  width: 300px;
  border-radius: 50px;
}

#tehnika .slikeTehnika #tehnika1:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  cursor: pointer;
  -webkit-transition: -webkit-transform 1.5s;
  transition: -webkit-transform 1.5s;
  transition: transform 1.5s;
  transition: transform 1.5s, -webkit-transform 1.5s;
}

#tehnika p {
  width: 90%;
  text-align: center;
  margin: 0 auto 10px auto;
  font-size: 1.5rem;
  font-family: 'Cormorant', serif;
}

.kontakt {
  /* width: 100%; */
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #1c1b1b), to(#d85656));
  background: linear-gradient(0deg, #1c1b1b 10%, #d85656 100%);
  border-radius: 5px;
  font-size: 16px;
  font-size: 20px !important;
}

@media screen and (max-width: 920px) {
  img {
    max-width: 60%;
  }
  .uvod {
    height: 100vh;
  }
  .uvod .opis {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    margin-top: 30px;
    background-color: rgba(245, 231, 231, 0.3);
  }
  .uvod .opis .liste .lista {
    padding-top: 0;
  }
  .uvod .opis .liste .lista li {
    margin: 0;
    padding: 0;
    font-size: 20px;
    border-bottom: 1px solid black;
  }
  .uvod .opis .liste .lista li a {
    padding: 10px 0;
  }
  .uvod .opis .liste .lista li a:hover {
    text-decoration: none;
    background-color: #1f1d1d;
    cursor: pointer;
  }
  #vizantijskiStil {
    margin-top: 50px;
    height: 100%;
  }
  #vizantijskiStil .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
  }
  #vizantijskiStil .text p {
    text-align: justify;
    font-size: 1rem;
  }
  #daska {
    height: 100%;
  }
  #daska p {
    margin: 0 auto;
    text-align: center;
    font-size: 1rem;
  }
  #daska .textDaska {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    width: 90%;
    -ms-flex-item-align: center;
        align-self: center;
  }
  #daska .textDaska #slikaDaska {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #tehnika {
    margin-top: .3rem;
  }
  #tehnika h2 {
    padding-top: 1rem;
  }
  #tehnika .slikeTehnika {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #tehnika .lastPasus {
    margin-top: 1rem;
    font-size: 1rem;
  }
  .kontakt {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #1c1b1b), to(#d85656));
    background: linear-gradient(0deg, #1c1b1b 10%, #d85656 100%);
    border-radius: 5px;
    font-size: 16px;
    display: block;
  }
}
/*# sourceMappingURL=Home.css.map */