

.mainHome {
  .uvod {
    background-image: url('./../assets/pozadina-home.jpg');
  }
}
#daska {
  background-image: url('./../assets/textura2.jpg');
}

#tehnika {
  background-image: url('./../assets/textura2.jpg');
}
