@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Crimson Text', serif;
}
html {
  // position: relative;
  scroll-behavior: smooth;
}
.main {
  width: 90%;
  margin-bottom: 100px;
  // margin-bottom: 10rem;
  .uvod {
    width: 100%;
    background-image: url('./../assets/pozadina-home.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 80px;
    background-position: 50% 15%;
    // height: 50vh;

    h1 {
      z-index: 100;
      padding-top: 70px;
      opacity: 1 !important;
      color: black;
      font-weight: 200;
      font-family: 'Pacifico', cursive;
    }

    .podtekst {
      font-family: 'Pacifico', cursive;
      color: black;
    }
    .opis {
      margin-top: 40px;
      display: flex;
      background-color: rgba(50, 50, 50, 0.3) !important;
      justify-content: space-around;
      color: rgb(50, 50, 50);

      .liste {
        color: black;
      }
    }
  }
}

.lista li {
  list-style-type: none;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 30px;
  a {
    text-decoration: none;
    color: black;
    font-weight: 800;

    &:hover {
      border-bottom: 1px solid black;
      font-weight: 800;
      transform: scale(1.1);
    }
  }
}

#vizantijskiStil {
  margin-top: 0px;
  // height: 110vh;
  width: 100%;
  h2 {
    font-family: 'Pacifico', cursive;
  }
  p {
    text-align: justify;
    font-family: 'Cormorant', serif;
  }
  .text {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;

    p {
      text-align: left;
      margin: 30px;
      font-size: 1.5rem;
    }
  }
}

#daska {
  background-image: url('./../assets/textura2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  // height: 100vh;
  h2 {
    color: white;
    font-weight: 100;
    font-family: 'Pacifico', cursive;
    margin-bottom: 2rem;
  }
  .textDaska {
    display: flex;
    justify-content: space-around;
    #slikaDaska {
      width: 300px;
      border-radius: 30px;
      &:hover {
        transform: scale(1.5);
        cursor: pointer;
        transition: transform 1.5s;
      }
    }
  }
  p {
    width: 90%;
    margin: 2rem auto 0.5rem auto;
    padding-bottom: 2rem;
    font-size: 1.5rem;
    font-family: 'Cormorant', serif;
  }
}

#tehnika {
  // height: 90vh;
  background-image: url('./../assets/textura2.jpg');
  display: flex;
  flex-direction: column;
  // margin: 2rem 0;
  h2 {
    font-family: 'Pacifico', cursive;
    margin-bottom: 2rem;
    padding-top: 2rem;
  }
  .slikeTehnika {
    display: flex;
    justify-content: space-around;
    #tehnika1 {
      width: 20rem;
      height: 20rem;
      border-radius: 50px;
      &:hover {
        transform: scale(1.5);
        cursor: pointer;
        transition: transform 1.5s;
      }
    }
  }
  p {
    width: 90%;
    text-align: center;
    margin: 0 auto 10px auto;
    font-size: 1.5rem;
    font-family: 'Cormorant', serif;
  }
}

.kontakt {
  /* width: 100%; */
  background: linear-gradient(0deg, rgb(28, 27, 27) 10%, rgb(216, 86, 86) 100%);
  border-radius: 5px;
  font-size: 16px;
  font-size: 20px !important;
}

@media screen and (max-width: 920px) {
  .main {
    width: 100%;
  }
  img {
    max-width: 60%;
  }

  .uvod {
    height: 100vh;
    .opis {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 100%;
      margin-top: 30px;
      background-color: rgba(245, 231, 231, 0.3);
      .liste {
        .lista {
          padding-top: 0;
          li {
            margin: 0;
            padding: 0;
            font-size: 20px;
            border-bottom: 1px solid black;
            a {
              padding: 10px 0;
              &:hover {
                text-decoration: none;
                background-color: rgb(31, 29, 29);
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }

  #vizantijskiStil {
    margin-top: 50px;
    height: 100%;
    .text {
      display: flex;
      flex-direction: column;
      justify-content: none;
      p {
        text-align: justify;
        font-size: 1rem;
      }
    }
  }

  #daska {
    height: 100%;
    p {
      margin: 0 auto;
      text-align: center;
      font-size: 1rem;
    }
    h2 {
      padding-top: 2rem;
    }
    .textDaska {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      width: 90%;
      align-self: center;
      #slikaDaska {
        align-self: center;
      }
    }
  }

  #tehnika {
    margin-top: 0.3rem;
    h2 {
      padding-top: 1rem;
    }
    .slikeTehnika {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
    .lastPasus {
      margin-top: 1rem;
      font-size: 1rem;
    }
  }

  .kontakt {
    background: linear-gradient(
      0deg,
      rgb(28, 27, 27) 10%,
      rgb(216, 86, 86) 100%
    );
    border-radius: 5px;
    font-size: 16px;
    display: block;
  }
}
