@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  position: relative;
}
label {
  display: none;
}
.input:focus {
  outline: none;
}
#email:invalid {
  position: relative;
}
.nav-menu {
  display: none;
}
.active {
  display: flex;
}
.main3 {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  background-image: url('./../../src/assets/ikona43.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  align-self: center;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.7);
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  position: relative;
  display: flex;
  flex-direction: column;
  // z-index: 100;
  .wrapper_content{
    display: flex;
    width:100%;
    justify-content: center;
  }
}

.contactDetails {
  width: 100%;
  background: linear-gradient(0deg, rgb(28, 27, 27) 10%, rgb(216, 86, 86) 100%);
  border-radius: 5px;
  font-size: 20px !important;
  position: absolute;
  bottom: 0;
  left: 0;
}

.wrapper {
  flex-direction: column;
  justify-content: center;
  .wrapper .mainContactTitle{
    padding-bottom: 1rem;
    height: auto;
    
  }
}

.wrapper .mainContactTitle h1, .podnaslov {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 0px;
  padding-top: 0px;
  font-size: 1.2rem;
  margin-bottom: -1rem;
}
.mainContactTitle{
  margin-bottom: 2rem;
}
.subline{
  display: inline-block;
  border-bottom: 1px solid #842d25; /* This creates the line */
  width: 5%; /* This makes the line span the full width */
  z-index: 100; /* Layering if needed */
}
.podnaslov{
  margin-top: 2rem;
}
.wrapper .mainContactTitle h1{
  font-size: 2.5rem;
  margin-bottom: .5rem;

}

.contact-form {
  display: flex;
  z-index: 100;
  width: 30%;
}

.input-fields {
  display: flex;
  flex-direction: column;
  margin-right: 4%;
  z-index: 100;
  position: relative;
}

.input-fields {
  width: 100%;
  z-index: 100;
}
.contactData_main{
  width: 30%;
  .contactData_wrapper{
    display: flex;
    padding-bottom: 2rem;
    align-items: center;
    
    .fontAwesomeIcon{
      margin-right: 1rem;
      width: 3rem;
      font-size: 1.7rem;
    }
    .contactData{
      text-align: left;
      .contactDataTitle{
        font-weight: bold;
        font-size: 1.5rem;
        color: #a4372f;
      }
      .contactDataContent{
        font-size: 1.2rem;
        
        
      }
    }
  }
}

.input-fields .input,
 textarea {
  margin: 10px 0;
  background: transparent !important;
  border: 0px;
  border-bottom: 1px solid #fff;
  padding: 10px;
  color: #fff;
  width: 100%;
  z-index: 100;
}

textarea:focus{
  outline: none;
  
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}

.btn {
  background: #842d25;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  width: 100%;
  font-weight: 700;
  outline: none;
  offset: none;
  border: none;
  &:hover{
    background: #571b16;
  }
}

@media screen and (max-width: 600px) {
  .contact-form {
    flex-direction: column;
    height: auto;
  }
  .wrapper {
    height: auto;
    width: 100%;
  }
  .wrapper .mainContactTitle h1{
    font-size: 1.7rem;
    margin-bottom: 2rem;
  }
  .subline{
    display: none;
  }
  .msg textarea {
    height: 80px;
    z-index: 1;
  }

  .nav-menu {
    display: none;
  }

  .active {
    display: flex;
  }
  .podnaslov{
    display: none;
  }
  .wrapper_content{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .contactData_main{
      
      width: 80%;
      .contactData_wrapper{
        width: 80%;
        justify-content: space-between;
        padding-bottom: 1rem;
        .fontAwesomeIcon{
          font-size: 1.5rem;
        }
        .contactData{
          width: 100%;
          .contactDataTitle{
            font-size: 1.6rem;
          }
        }

      }
    }

    .contact-form{
      width: 80%;
      // background-color: rgba(0, 0, 0, 0.3);
    }
  }
}
