.mainCart .buttonsCartTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainCart .buttonsCartTop .backButton, .mainCart .buttonsCartTop .addButton {
  padding: 1rem 2rem;
  font-size: 2rem;
  cursor: pointer;
}

.mainCart .wrapper {
  padding: 2rem;
}

.mainCart .wrapper h1 {
  font-weight: 300;
  text-align: center;
  font-size: 3rem;
}

.mainCart .wrapper .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainCart .wrapper .top .topButton {
  padding: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.mainCart .wrapper .top .topTexts .topText {
  text-decoration: underline;
  cursor: pointer;
  margin: 0rem 1rem;
  font-size: 2rem;
}

.mainCart .wrapper .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainCart .wrapper .bottom .info {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.mainCart .wrapper .bottom .summaryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem 0rem;
  width: 30%;
}

.mainCart .wrapper .bottom .summaryContainer .summary {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: lightgray;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 10%;
  margin: 2rem 0rem;
}

.product .productDetail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product .productDetail img {
  max-width: 20%;
}

.product .productDetail .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 5rem;
}

.product .productDetail .details .productName {
  font-size: 2rem;
}

.product .productDetail .details .productName b {
  font-size: 2rem;
}

.product .productDetail .details .productId {
  font-size: 2rem;
}

.product .productDetail .details .productId b {
  font-size: 2rem;
}

.product .productDetail .details .colorDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product .productDetail .details .colorDiv .productColor {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: inline-block;
  margin-left: .5rem;
}

.product .productDetail .details .productSize {
  font-size: 2rem;
}

.product .productDetail .details .productSize b {
  font-size: 2rem;
}

.product .priceDetail {
  font-size: 2rem;
  margin-right: 2rem;
}
/*# sourceMappingURL=cart.css.map */