.mainCart {
  .backButton {
    padding: 1rem 2rem;
    font-size: 2rem;
    cursor: pointer;
  }
  .wrapper {
    padding: 2rem;
    h1 {
      font-weight: 300;
      text-align: center;
      font-size: 3rem;
    }
    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .topButton {
        padding: 1rem;
        font-weight: 600;
        cursor: pointer;
      }
      .topTexts {
        .topText {
          text-decoration: underline;
          cursor: pointer;
          margin: 0rem 1rem;
          font-size: 2rem;
        }
      }
    }
    .bottom {
      display: flex;
      justify-content: space-between;
      .info {
        flex: 2;
      }
      .summaryContainer {
        display: flex;
        flex-direction: column;
        margin: 2rem 0rem;
        width: 30%;
        .summary {
          flex: 1;
          background-color: lightgray;
          font-size: 2rem;
          margin-bottom: 2rem;
        }
      }
    }
  }
}

.product {
  display: flex;
  justify-content: space-between;
  margin-right: 10%;
  margin: 2rem 0rem;
  .productDetail {
    display: flex;
    img {
      max-width: 20%;
    }
    .details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 5rem;

      .productName {
        b {
          font-size: 2rem;
        }
        font-size: 2rem;
      }
      .productId {
        b {
          font-size: 2rem;
        }
        font-size: 2rem;
      }
      .productColor {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
      }
      .productSize {
        font-size: 2rem;
        b {
          font-size: 2rem;
        }
      }
    }
  }
  .priceDetail {
    font-size: 2rem;
    margin-right: 2rem;
  }
}
