.mainProduct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin: 3rem;
}

.mainProduct img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 1rem;
}

.mainProduct .contentProduct {
  margin: 1rem 3rem;
}

.mainProduct .contentProduct h2 {
  font-weight: 200;
  font-size: 4rem;
}

.mainProduct .contentProduct p {
  font-size: 2rem;
  margin-top: 2rem;
}

.mainProduct .contentProduct .price {
  font-size: 5rem;
  margin-top: 2rem;
}

.mainProduct .contentProduct .colorSize {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  margin-top: 3rem;
}

.mainProduct .contentProduct .colorSize .color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainProduct .contentProduct .colorSize .color span {
  font-size: 3rem;
}

.mainProduct .contentProduct .colorSize .color .colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 2rem;
}

.mainProduct .contentProduct .colorSize .color .colors .color1 {
  background-color: lightcoral;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 1rem;
  cursor: pointer;
}

.mainProduct .contentProduct .colorSize .color .colors .color2 {
  background-color: #f0c580;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 1rem;
  cursor: pointer;
}

.mainProduct .contentProduct .colorSize .color .colors .color3 {
  background-color: #80e3f0;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 1rem;
  cursor: pointer;
}

.mainProduct .contentProduct .colorSize .size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.mainProduct .contentProduct .colorSize .size span {
  font-size: 3rem;
  margin-right: 1rem;
}

.mainProduct .contentProduct .colorSize .size select {
  width: 5rem;
  height: 3rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.5rem;
}

.mainProduct .contentProduct .plusMinusAndButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3rem;
}

.mainProduct .contentProduct .plusMinusAndButton .plusMinus span {
  font-size: 3rem;
  cursor: pointer;
  margin-left: .2rem;
}

.mainProduct .contentProduct .plusMinusAndButton button {
  font-size: 3rem;
  padding: .5rem;
  border: .3rem solid teal;
  background-color: transparent;
  cursor: pointer;
}
/*# sourceMappingURL=product.css.map */