@mixin divColor{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    align-self: center;
    margin-right: 1rem;
    cursor: pointer;
}

.mainProduct {
  display: flex;
  height: auto;
  margin: 3rem;

  img {
    flex: 1;
    object-fit: cover;
    margin: 1rem;
  }
  .contentProduct {
    margin: 1rem 3rem;
    h2 {
      font-weight: 200;
      font-size: 4rem;
    }
    p {
      font-size: 2rem;
      margin-top: 2rem;
    }
    .price {
      font-size: 5rem;
      margin-top: 2rem;
    }
    .colorSize {
        display: flex;
        justify-content: space-between;
        width: 50%;
        margin-top: 3rem;
      .color {
        display: flex;
        span {
          font-size: 3rem;
        }
        .colors {
          display: flex;
          margin-left: 2rem;

         
          .color1{
            background-color: lightcoral;
            @include divColor;

          }
          .color2{
            background-color: rgb(240, 197, 128);
            @include divColor;


          }
          .color3{
            background-color: rgb(128, 227, 240);
            @include divColor;


          }
        }
      }
        .size{
            display: flex;
            align-content: center;
            span{
            font-size: 3rem;
            margin-right: 1rem;
                }
            select{
                width: 5rem;
                height: 3rem;
                align-self: center;
                font-size: 1.5rem;
            }
        }
    }
    .plusMinusAndButton{
        display: flex;
        width: 50%;
        justify-content: space-between;
        margin-top: 3rem;
        .plusMinus{
           span{
            font-size: 3rem;
            cursor: pointer;
            margin-left: .2rem;
           }
        }
        button{
            font-size: 3rem;
            padding: .5rem;
            border: .3rem solid teal;
            background-color: transparent;
            cursor: pointer;
        }
    }
}
}
