
    .navbar{
        display: flex;
        position: absolute;
        z-index: 1000;
        right: 0;
        padding: .3rem;
        padding-left: 3rem;
        div.username{
            align-self: center;
            display: flex;
            height: 100%;
            margin-right: 2rem;
            font-style: italic;
            span{
                display: inline-block;
                margin-right: .3rem;
            }
        }
        .unregistered_user_btn{
            .registerBtn{
                background-color:  #2E8B57;
            }
            .loginBtn{
                background-color: #4682B4;
            }
        }
        .registered_user_btn{
            .logoutBtn{
                background-color: #F5DEB3;
                font-size: .8rem;
            }
            .tableLink{
                text-decoration: none;
                background-color: #8B4513;
                padding: .5rem 1rem;
                border-radius: .5rem;
                margin-right: .2rem;
                font-size: .8rem;
                cursor: pointer;
                color: black;
            }
        }
        button{
            border: none;
            padding: .5rem 1rem;
            border-radius: .5rem;
            margin-right: .2rem;
            cursor: pointer;
        }
    }

    .userNotLogged{
        background: linear-gradient(to right, transparent 0%, #F5DEB3  20%, #F5DEB3  100%, transparent 100%);
    }
    .userLogged{
        background: linear-gradient(to right, transparent 0%, tomato  20%, tomato  100%, transparent 100%);
    }

    .userLoggedBtnStyle{
        cursor: pointer !important;
    }
    .userNotLoggedBtnStyle{
        cursor: not-allowed !important;
    }
